<ion-header>
  <ion-toolbar>
    <ion-title>Edit User</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="userForm" (ngSubmit)="updateUser()">
    <ion-item>
      <ion-label position="floating">Name</ion-label>
      <ion-input formControlName="name"></ion-input>
    </ion-item>
    <ion-note color="danger" *ngIf="f['name'].touched && f['name'].invalid">
      Name is required and must have at least 3 characters.
    </ion-note>
  
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input formControlName="email"></ion-input>
    </ion-item>
    <ion-note color="danger" *ngIf="f['email'].touched && f['email'].invalid">
      Email is required and must be valid.
    </ion-note>
  
    <ion-item>
      <ion-label position="floating">Birth Date</ion-label>
      <ion-datetime-button datetime="datetime"></ion-datetime-button>
      <ion-datetime id="datetime" formControlName="birthAt"></ion-datetime>
    </ion-item>
  
  
    <ion-button expand="full" type="submit" [disabled]="userForm.invalid">
      Update
    </ion-button>
  </form>
  
</ion-content>
