<ion-content>
  <!-- <h3 class="title" *ngIf="(tripItems$|async).length">Adicionar a Conta</h3> -->
  <!-- <h3 class="title" *ngIf="(tripItems$|async).length">{{(tripItems$|async).length}} towards at trip</h3> -->

  <!-- CART ITEMS -->
  <!-- <ion-list lines="none">
    <ion-item-sliding *ngFor="let item of tripItems$|async">
      <ion-item>
        <app-trip-item [item]="item" (increase)="onIncrease(item)" (decrease)="onDecrease(item)"></app-trip-item>
      </ion-item>
      <ion-item-options side='end'>
        <ion-item-option (click)="removeFromCart(item)">
          <ion-icon name='trash-outline' size='large' color='danger'></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list> -->
  <ion-card>
  <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
  <ion-card-header>
    <ion-card-subtitle>Maceió</ion-card-subtitle>
  </ion-card-header>
  <ion-card-content>
    Viagem para carnaval em maceio no mes de fevereiro
  </ion-card-content>
  <ion-button fill="clear">Delete</ion-button>
  <ion-button fill="clear">Add Item</ion-button>
</ion-card>
</ion-content>