<ion-content>
  <div class="header">
    <h2>MY TRIPS</h2>
    <div class="avatar">
      <ion-button (click)="presentAlertWithInput()" size="small">
        <ion-icon slot="icon-only" ios="search" md="settings-sharp"></ion-icon>
      </ion-button>
    </div>
  </div>
  
  <ion-searchbar [(ngModel)]="searchQuery" (ionInput)="onSearchChange($event)" debounce="500"></ion-searchbar>

  <ion-list>
    <ion-item-sliding *ngFor="let trip of trips">
      <ion-item-options side="end">
        <ion-item-option  (click)="openTripModal(trip.id)">
          <ion-icon name="pencil" slot="start"></ion-icon> <!-- Ícone de lixeira -->
          Edit
        </ion-item-option>
        <ion-item-option color="danger" (click)="updateTripStatus(trip.id)">
          <ion-icon name="trash" slot="start"></ion-icon> <!-- Ícone de lixeira -->
          Delete
        </ion-item-option>
      </ion-item-options>
      <ion-item>
        <ion-label (click)="navigateToPage(trip.id)">
          <h2>{{ trip.name }}</h2>
          <p>{{ trip.description }}</p>
          <p>Total Items Value: {{ trip.total | currency }}</p>
        </ion-label>
      </ion-item>
    </ion-item-sliding>
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="loadMore($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more trips...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
    <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button (click)="openTripModal()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
