<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Home</ion-title>
    </ion-toolbar>

  </ion-header>


  <div class="ion-padding">
    <ion-card class="ion-text-center ion-align-self-center">
      <ion-card-header>
        <ion-card-title>Card Title</ion-card-title>
        <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      </ion-card-header>
  
      <ion-card-content>
        <div class="button-row">
          <ion-button shape="round" (click)="openModal('beach')">
            <ion-icon slot="icon-only" name="heart"></ion-icon>
          </ion-button>
          <ion-button shape="round" (click)="openModal('event')">
            <ion-icon slot="icon-only" name="star"></ion-icon>
          </ion-button>
          <ion-button shape="round" (click)="openModal('accommodation')">
            <ion-icon slot="icon-only" name="thumbs-up"></ion-icon>
          </ion-button>
          <ion-button shape="round" (click)="openModal('transfer')">
            <ion-icon slot="icon-only" name="car"></ion-icon>
          </ion-button>
        </div>
        
        <div class="button-row">
          <ion-button shape="round" (click)="openModal('restaurant')">
            <ion-icon slot="icon-only" name="chatbubble"></ion-icon>
          </ion-button>
          <ion-button shape="round" (click)="openModal('store')">
            <ion-icon slot="icon-only" name="share"></ion-icon>
          </ion-button>
          <ion-button shape="round" (click)="openModal('tourguide')">
            <ion-icon slot="icon-only" name="settings"></ion-icon>
          </ion-button>
          <ion-button shape="round" (click)="openModal('service')">
            <ion-icon slot="icon-only" name="home"></ion-icon>
          </ion-button>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button class="custom-button" expand="block" fill="clear">
          <ion-icon slot="icon-only" name="call-outline"></ion-icon>
          <ion-label>Call</ion-label>
        </ion-button>
        <ion-button (click)="navigateToEventPage()">Go to Event Page</ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <h3>Top Destinations</h3>
        <swiper-container [slidesPerView]="1.5" spaceBetween="10">
          <swiper-slide *ngFor="let destination of destinations">
            <ion-card>
              <img [src]="destination.image" />
              <ion-card-header>
                <ion-card-title>{{ destination.name }}</ion-card-title>
                <ion-card-subtitle>{{ destination.city }}</ion-card-subtitle>
              </ion-card-header>
              <ion-card-content>
                <p>{{ destination.activities }} activities</p>
              </ion-card-content>
            </ion-card>
          </swiper-slide>
        </swiper-container>
      </ion-col>
    </ion-row>

    <!-- Exclusive Hotels Section -->
    <ion-row>
      <ion-col>
        <h3>Exclusive Hotels</h3>
        <!-- Conteúdo para Exclusive Hotels -->
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
