<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Home</ion-title>
    </ion-toolbar>

  </ion-header>

  <!-- <ion-list> -->
    <ion-item class="ion-padding">
      <ion-select placeholder="Select a City">
        <div slot="label">City:  </div>
        <ion-select-option value="apple">Maceió</ion-select-option>
        <ion-select-option value="apple">Maragogi</ion-select-option>
      </ion-select>
    </ion-item>
  <!-- </ion-list> -->
  <div class="ion-padding">
    <ion-card class="ion-text-center ion-align-self-center">
      <ion-card-header>
        <ion-card-title>Card Title</ion-card-title>
        <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      </ion-card-header>
  
      <ion-card-content>
        <div class="button-row">
          <ion-button shape="round" (click)="openModal('beaches')">
            <ion-icon slot="icon-only" name="boat"></ion-icon>
          </ion-button>
          <ion-button shape="round" (click)="openModal('events')">
            <ion-icon slot="icon-only" name="calendar"></ion-icon>
          </ion-button>
          <ion-button shape="round" (click)="openModal('accommodations')">
            <ion-icon slot="icon-only" name="home"></ion-icon>
          </ion-button>
          <ion-button shape="round" (click)="openModal('transfers')">
            <ion-icon slot="icon-only" name="car"></ion-icon>
          </ion-button>
          <ion-button shape="round" (click)="openModal('tours')">
            <ion-icon slot="icon-only" name="bus"></ion-icon>
          </ion-button>
        </div>
        
        <div class="button-row">
          <ion-button shape="round" (click)="openModal('restaurants')">
            <ion-icon slot="icon-only" name="restaurant"></ion-icon>
          </ion-button>
          <ion-button shape="round" (click)="openModal('stores')">
            <ion-icon slot="icon-only" name="storefront"></ion-icon>
          </ion-button>
          <ion-button shape="round" (click)="openModal('tourguides')">
            <ion-icon slot="icon-only" name="footsteps"></ion-icon>
          </ion-button>
          <ion-button shape="round" (click)="openModal('services')">
            <ion-icon slot="icon-only" name="home"></ion-icon>
          </ion-button>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
  <ion-grid>

    <ion-row>
      <ion-col>
        <h3>Top Destinations</h3>
        <swiper-container [slidesPerView]="1.5" spaceBetween="10">
          <swiper-slide *ngFor="let destination of destinations">
            <ion-card>
              <img [src]="destination.image" />
              <ion-card-header>
                <ion-card-title>{{ destination.name }}</ion-card-title>
                <ion-card-subtitle>{{ destination.city }}</ion-card-subtitle>
              </ion-card-header>
              <ion-card-content>
                <p>{{ destination.activities }} activities</p>
              </ion-card-content>
            </ion-card>
          </swiper-slide>
        </swiper-container>
      </ion-col>
    </ion-row>

    <!-- Exclusive Hotels Section -->
    
  </ion-grid>
</ion-content>
