<ion-header>
  <ion-toolbar>
    <ion-title>Edit Trip</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="tripForm" (ngSubmit)="editTrip()">
    <ion-list>
      <ion-item>
        <ion-label position="floating">Name</ion-label>
        <ion-input formControlName="name"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input formControlName="password" type="text"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Description</ion-label>
        <ion-input formControlName="description"></ion-input>
      </ion-item>

      <!-- City Select -->
      <ion-item>
        <ion-label position="floating">City</ion-label>
        <ion-select formControlName="city" placeholder="Select City">
          <ion-select-option *ngFor="let city of cities" [value]="city.id">{{ city.name }}</ion-select-option>
        </ion-select>
      </ion-item>

      <!-- Trip Type Select -->
      <ion-item>
        <ion-label position="floating">Trip Type</ion-label>
        <ion-select formControlName="tripType" placeholder="Select Trip Type">
          <ion-select-option *ngFor="let tripType of tripTypes" [value]="tripType.id">{{ tripType.name }}</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item (click)="presentDateAlert('start')">
        <ion-label>Start Date</ion-label>
        <ion-input [value]="tripForm.value.startDate" readonly></ion-input>
      </ion-item>

      <ion-item (click)="presentDateAlert('end')">
        <ion-label>End Date</ion-label>
        <ion-input [value]="tripForm.value.endDate" readonly></ion-input>
      </ion-item>
    </ion-list>

    <div class="ion-padding">
      <ion-button expand="block" type="submit" [disabled]="tripForm.invalid">Save Changes</ion-button>
    </div>

    <div *ngIf="errorMessage" class="error-message">
      {{ errorMessage }}
    </div>
  </form>
</ion-content>
