<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Detalhes da Viagem</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="trip">
  <ion-card>
    <ion-card-header>
      <ion-card-title>{{ trip.name }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p><strong>Total:</strong> {{ trip.total | currency }}</p>
      <p><strong>Código:</strong> {{ trip.tripCode }}</p>
      <p><strong>Status:</strong> {{ trip.status ? 'Ativa' : 'Inativa' }}</p>
      <p><strong>Descrição:</strong> {{ trip.description }}</p>
      <p><strong>Password:</strong> {{ trip.password }}</p>
      <!-- <p><strong>Cidade:</strong> {{ trip.city?.name }}</p> -->
      <p><strong>Criada em:</strong> {{ trip.createdAt | date }}</p>
      <p><strong>Atualizada em:</strong> {{ trip.updatedAt | date }}</p>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Users in this Trip</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-list>
          <ion-item *ngFor="let tripUser of trip.tripUser">
            <ion-label>{{ tripUser.user.name }}</ion-label>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
  <ion-list>
    
    <ion-item-sliding *ngFor="let item of items">
      <ion-item (click)="openAddItemModal(item.id)">
        <ion-label>
          <p>Quantity: {{ item.quantity }}</p>
          <p>Price: {{ item.price | currency }}</p>
          <p>Total: {{ getTotalPrice(item) | currency }}</p> <!-- Mostra o valor total -->
          <p>Users: {{ getUserNames(item) }}</p> <!-- Mostra os nomes dos usuários -->
          <p *ngIf="item.itemUser.length > 0">
            Each user pays: {{ getEachUserPayment(item) | currency }}
          </p> <!-- Mostra o valor que cada usuário paga -->
        </ion-label>
      </ion-item>
  
      <ion-item-options side="end">
        <ion-item-option (click)="removeItem(item.id)" color="danger">
          <ion-icon name="trash"></ion-icon> Delete
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-card>
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button >
        <ion-icon name="create-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button (click)="openAddItemModal()">
        <ion-icon name="cube-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button (click)="presentAddUserAlert()">
        <ion-icon name="person-add-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>
